In [1]:
#importing libraries
import pandas as pd
import requests

In [2]:
#saving API url as variable 
url = 'https://demodev2.kappazeta.ee/ard_api_demo/v1/rons/?properties=id%2Cname%2Ctrack_direction'

In [3]:
#requesting data to be fetched from url 
r = requests.get(url)

In [4]:
print(r)

<Response [200]>

In [5]:
#reading data from json handler
json = r.json()

In [6]:
#checking dictornary keys in which data is stored
json.keys()

dict_keys(['status', 'message', 'parcel_foreign_id', 'page', 'length', 'rons'])

In [7]:
json['rons']

[{'id': '146', 'name': 'R146A', 'track_direction': 'ascending'},
 {'id': '168', 'name': 'R168D', 'track_direction': 'descending'},
 {'id': '44', 'name': 'R44A', 'track_direction': 'ascending'},
 {'id': '66', 'name': 'R66D', 'track_direction': 'descending'}]

In [8]:
#converting data from json to dataframe so it can be understood easily
df = pd.DataFrame(json['rons'])

In [9]:
df

    id   name track_direction
0  146  R146A       ascending
1  168  R168D      descending
2   44   R44A       ascending
3   66   R66D      descending